<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="com.magic.basiccenter.model.mapper.BsNoticeInfMapper">

    <!--通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.magic.basiccenter.model.entity.BsNoticeInf">
        <id column="NI_NTC_ID" property="niNtcId" />
        <result column="NI_NTC_NAME" property="niNtcName" />
        <result column="NI_NTC_STATUS" property="niNtcStatus" />
        <result column="NI_NTC_ID_RELEASE_TIME" property="niNtcIdReleaseTime" />
        <result column="NI_NTC_CREATOR" property="niNtcCreator" />
        <result column="NI_NTC_TEXT" property="niNtcText" />
        <result column="NI_NTC_START_TIME" property="niNtcStartTime" />
        <result column="NI_NTC_END_TIME" property="niNtcEndTime" />
        <result column="NI_NTC_COUNT" property="niNtcCount" />
        <result column="NI_NTC_REMIND_STATUS" property="niNtcRemindStatus" />
        <result column="NI_NTC_GMT_CREATE" property="niNtcGmtCreate" />
        <result column="NI_NTC_GMT_MODIFIED" property="niNtcGmtModified" />
        <result column="NI_NTC_GMT_MODIFIER" property="niNtcGmtModifier" />
    </resultMap>

    <!--通用查询结果列-->
    <!--<sql id="Base_Column_List">-->
    <!--NI_NTC_ID, NI_NTC_NAME, NI_NTC_STATUS, NI_NTC_ID_RELEASE_TIME, NI_NTC_CREATOR, NI_NTC_TEXT, NI_NTC_START_TIME, NI_NTC_END_TIME, NI_NTC_COUNT, NI_NTC_REMIND_STATUS, NI_NTC_GMT_CREATE, NI_NTC_GMT_MODIFIED, NI_NTC_GMT_MODIFIER-->
    <!--</sql>-->


    <sql id="queryWhere">
        <where>
            <if test="niNtcName != null and niNtcName !=''">
                NI_NTC_NAME like CONCAT ( '%',#{niNtcName},'%')
            </if>

            <if test="niNtcStartTime != null and niNtcStartTime !=''  ">
                or  NI_NTC_START_TIME >= #{niNtcStartTime}
            </if>
            <if test="niNtcEndTime != null and niNtcEndTime !=''  ">
                and  #{niNtcEndTime}  >=  NI_NTC_END_TIME
            </if>

            <if test="niNtcCreator != null and niNtcCreator !=''">
                or NI_NTC_CREATOR like CONCAT ( '%',#{niNtcCreator},'%')
            </if>

            <if test="niNtcStatus != null and niNtcStatus != 0">
                or NI_NTC_STATUS =  #{niNtcStatus}
            </if>
            <if test="niNtcId != null and niNtcId != ''">
                and  NI_NTC_ID =  #{niNtcId}
            </if>

            <if test="1 != 0">
                and NI_NTC_STATUS != 1
            </if>
        </where>

    </sql>
    <!--查询公告sql方法语句-->
    <select id="selectNotice"  parameterType="com.magic.basiccenter.model.dto.QueryNoticeDTO"    resultType="com.magic.basiccenter.dto.entity.NoticeBean">

        select * from bs_notice_inf

        <where>
            <if test="niNtcName != null and niNtcName !=''">
                NI_NTC_NAME like CONCAT ( '%',#{niNtcName},'%')
            </if>

            <if test="niNtcStartTime != null   ">
                and  NI_NTC_START_TIME >= #{niNtcStartTime}
            </if>
            <if test="niNtcEndTime != null  ">
                and  #{niNtcEndTime}  >=  NI_NTC_END_TIME
            </if>

            <if test="niNtcCreator != null and niNtcCreator !=''">
                and NI_NTC_CREATOR like CONCAT ( '%',#{niNtcCreator},'%')
            </if>

            <if test="niNtcStatus != null and niNtcStatus != 0">
                and NI_NTC_STATUS =  #{niNtcStatus}
            </if>
            <if test="niNtcId != null and niNtcId != ''">
                and  NI_NTC_ID =  #{niNtcId}
            </if>

            <if test="1 != 0">
                and NI_NTC_STATUS != 1
            </if>

            <if test=" niNtcId == null and pageSize!=null ">
                ORDER BY  NI_NTC_GMT_CREATE DESC
            </if>
            <if test=" pageSize >0 and nowsPage >=0">
                limit #{nowsPage}, #{pageSize}
            </if>
        </where>
    </select>

    <select id="queryNoticeTotalNum"   parameterType="com.magic.basiccenter.model.dto.QueryNoticeDTO"    resultType="Integer">

        select count(*) from bs_notice_inf
        <where>
            <if test="niNtcName != null and niNtcName !=''">
                NI_NTC_NAME like CONCAT ( '%',#{niNtcName},'%')
            </if>

            <if test="niNtcStartTime != null  ">
                and  NI_NTC_START_TIME >= #{niNtcStartTime}
            </if>
            <if test="niNtcEndTime != null  ">
                and  #{niNtcEndTime}  >=  NI_NTC_END_TIME
            </if>

            <if test="niNtcCreator != null and niNtcCreator !=''">
                and NI_NTC_CREATOR like CONCAT ( '%',#{niNtcCreator},'%')
            </if>

            <if test="niNtcStatus != null and niNtcStatus != 0">
                and NI_NTC_STATUS =  #{niNtcStatus}
            </if>
            <if test="niNtcId != null and niNtcId != ''">
                and  NI_NTC_ID =  #{niNtcId}
            </if>

            <if test="1 != 0">
                and NI_NTC_STATUS != 1
            </if>

        </where>
    </select>
</mapper>
