<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magic.basiccenter.model.mapper.CuNoticeInfMapper">


     <!--通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.magic.basiccenter.model.entity.CuNoticeInf">
    <id column="NI_NTC_ID" property="niNtcId" />
    <result column="NI_NTC_NAME" property="niNtcName" />
    <result column="NI_NTC_STATUS" property="niNtcStatus" />
    <result column="NI_NTC_ID_RELEASE_TIME" property="niNtcIdReleaseTime" />
    <result column="NI_NTC_CREATOR" property="niNtcCreator" />
    <result column="NI_NTC_TEXT" property="niNtcText" />
    <result column="NI_NTC_START_TIME" property="niNtcStartTime" />
    <result column="NI_NTC_END_TIME" property="niNtcEndTime" />
    <result column="NI_NTC_COUNT" property="niNtcCount" />
    <result column="NI_NTC_REMIND_STATUS" property="niNtcRemindStatus" />
    <result column="NI_NTC_GMT_CREATE" property="niNtcGmtCreate" />
    <result column="NI_NTC_GMT_MODIFIED" property="niNtcGmtModified" />
    <result column="NI_NTC_GMT_MODIFIER" property="niNtcGmtModifier" />

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
    NI_NTC_ID, NI_NTC_NAME, NI_NTC_STATUS, NI_NTC_ID_RELEASE_TIME, NI_NTC_CREATOR, NI_NTC_TEXT, NI_NTC_START_TIME, NI_NTC_END_TIME, NI_NTC_COUNT, NI_NTC_REMIND_STATUS, NI_NTC_GMT_CREATE, NI_NTC_GMT_MODIFIED, NI_NTC_GMT_MODIFIER
    </sql>

</mapper>
